.counterContainer {
    margin: auto 25px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

button:hover {
    background-color: #c7c7c7;
    scale: 1.1;
    animation: ease-in 0.2s;
    transition: all;
}

.count {
    margin: 20px auto;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 96px;
}